*{
	box-sizing: border-box;
}

body{
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

h1{

}
h2{
	font-size: 1.2rem;
	text-align: center;
}
a{
	text-decoration: none;
	color: white;
	font-size: 1rem;
}
.underline-hr{
	border: solid 4px white;
	border-bottom: none;
	margin: 10px auto;
	width: 70px;

}
[class*="col-"]{
	float: left;
	padding: 10px;
}
/*for mobile*/
[class*="col-"]{
	width: 100%;
}


/*navbar design starts here*/

.navbar{
	background-color: #425866;
	padding: 0.5% 5%;
	text-align: center; 

}
/*.nav-logo img{
	border-radius: 50%
}*/

.navbar h1{
	color: white;
	margin: 0;
	padding-top: 28px;
	font-size: 30px;

}

.navbar-menu{
	display: flex;
	flex-direction: column;
	text-transform: uppercase;
}
.navbar-menu a{
	background-color: #253542;
	border-radius: 10px;
	margin: 7px;
	padding: 5px;
}

.navbar-menu a:hover{
	background-color: #F59C48;
}
.navbar::after{
	content: '';
	display: table;
	clear: both;
}

/*navbar design ends here*/

/*profile design starts*/

.profile{
	padding: 100px 10px 0px 10px;
	position: relative;
	text-align: center;
	background-image: url(images/bg.jpg);
	background-size: cover;
}
.profile .top-icon{
	position: absolute;
	top: 5%;
	left: 40%;
	transition: transform 1s;
}
.profile .top-icon:hover{
	transform: rotate(45deg);
}
.profile-desc h1{
	/*color:  #526F81;*/
	color: white;
	text-align: center;
}

.profile-desc p{
	/*color:  #526F81;*/
	color: white;
	width: 90%;
	text-align: center;
	margin: 0 auto 20px auto;
}
.profile::after{
	content: '';
	display: table;
	clear: both;
}
/*Profile design ends*/

/*about us design starts here*/
.about-us{
	background-color:  #425866;
	padding: 1% 7%;
	color: white;
	text-align: center;
}
.about-us-img img{
	border-radius: 50%;
	height: 220px;
	width: 220px;
}
.about-us-text{
	text-align: center;
}
.contact-us-btn{
	background-color:  #253542;
	color: white;
	border: none;
	border-radius: 8px;
	padding: 10px;
	cursor: pointer;
	margin: 10px;
	font-size: 16px;

}
.contact-us-btn:hover{
	background-color:  #526F81;
	 transform: scale(1.1);
	 transition: .3s;
	
	}
.about-us::after{
	clear: both;
	display: table;
	content: '';
}

/*about us design ends here*/

/*our service design starts here*/

.service-container{
	padding: 1% 8%;
	text-align: center;
}
.service-container .card{
	background-color: #DBEAF2;
	border-radius: 5px;
	padding: 10px;
	transition: .3s;
	height: 300px;
}

.card:hover{
	box-shadow: 0 4px 8px 5px #C6CED0;

}

.card-icon img{
	margin-top: 10px;
	height: 100px;
	width: 100px;
}

.card-title{
	background-color: #253542;
	color: white;
	padding: 6px 0px;
}

.service-container::after{
	clear: both;
	display: table;
	content: '';
}
/*our service design ends here*/


/*contact us design starts here*/

#contact-us-id{
	padding: 1% 7%;
	background-color: #425866;
	color: white;
	text-align: center;
}

.contact-us input, textarea{
	width: 100%;
	text-align: center;
	padding: 10px;
	font-size: 1rem;
	border-radius: 5px;
	border: none;
	resize: none;

}
.more-way-contact{
	text-align: center;
}
.social-icon{
	text-align: center;
	padding: 50px 20px;
}

.btn{
	border: none;
	padding: 10px 20px;
	font-size: 2rem;
	border-radius: 5px;
	margin: 10px;
}
.btn:hover{
	transform: scale(1.1);
}
#contact-us-id::after{
	clear: both;
	display: table;
	content: '';
}


/*contact us design ends here*/

/*footer design starts here*/
.footer{
	background-color: black;
	color: white;
	font-size: .8rem;
	text-align: center;
	padding: 20px;
}
.footer-menu a{
	display: block;
	margin: 15px 0px;
	font-size: 1rem;
}
.footer-menu a:hover{
	color: gray;
}
.footer::after{
	clear: both;
	display: table;
	content: '';
}
/*footer design ends here*/