*{
	box-sizing: border-box;
}

body{
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

h1{

}
h2{
	font-size: 1.2rem;
	text-align: center;
}
a{
	text-decoration: none;
	color: white;
	font-size: 1rem;
}
.underline-hr{
	border: solid 4px white;
	border-bottom: none;
	margin: 10px auto;
	width: 70px;

}
[class*="col-"]{
	float: left;
	padding: 10px;
}
/*for mobile*/
[class*="col-"]{
	width: 100%;
}


/*navbar design starts here*/

.navbar{
	background-color: #425866;
	padding: 0.5% 5%;
	text-align: center; 
}
.nav-logo img{
	border-radius: 50%
}

.navbar h1{
	color: white;
	margin: 0;
	padding-top: 10px;
}
.navbar-menu{
	display: flex;
	flex-direction: column;
	text-transform: uppercase;
}
.navbar-menu a{
	background-color: #253542;
	border-radius: 10px;
	margin: 7px;
	padding: 5px;
}

.navbar-menu a:hover{
	background-color: #526F81;
}
.navbar::after{
	content: '';
	display: table;
	clear: both;
}

/*navbar design ends here*/

/*profile design starts*/

.profile{
	padding: 100px 10px 0px 10px;
	position: relative;
	text-align: center;
}
.profile .top-icon{
	position: absolute;
	top: 5%;
	left: 40%;
	transition: transform 1s;
}
.profile .top-icon:hover{
	transform: rotate(45deg);
}
.profile-desc h1{
	color:  #526F81;
	text-align: center;
}

.profile-desc p{
	color:  #526F81;
	width: 90%;
	text-align: center;
	margin: 0 auto 20px auto;
}
.profile::after{
	content: '';
	display: table;
	clear: both;
}
/*Profile design ends*/

/*about us design starts here*/
.about-us{
	background-color:  #425866;
	padding: 1% 7%;
	color: white;
	text-align: center;
}
.about-us-img img{
	border-radius: 50%;
	height: 220px;
	width: 220px;
}
.about-us-text{
	text-align: center;
}
.contact-us-btn{
	background-color:  #253542;
	color: white;
	border: none;
	border-radius: 10px;
	padding: 15px;
	cursor: pointer;
	margin: 10px;
	font-size: 18px;

}
.contact-us-btn:hover{
	background-color:  #526F81;
	 transform: scale(1.1);
	 transition: .3s;
	
	}
.about-us::after{
	clear: both;
	display: table;
	content: '';
}

/*about us design ends here*/